
<app-navbar></app-navbar>
<div class="content">
    <div class="back" (click)="goBack()"><img src="../../../../assets/icons/left_arrow.svg" alt=""> Back</div>
    <div class="header">
        <h2>Additional Details</h2>
        <p>We need a few more details to verify your identity</p>
    </div>
    <div class="info-banner"> <span class="info-success">i</span>Please enter three details to proceed with verification.(0/3)</div>
    <div class="info-card-wrapper">
        <div class="info-card">
            <div class="card-icon"><img src="../../../../assets/images/search-clinic.png" alt=""></div>
            <div class="card-header">Search Your Clinic</div>
            <div class="card-desc">Search for the clinic where you've been treated.</div>
        </div>
        <div class="info-card">
            <div class="card-icon"><img src="../../../../assets/images/patient-mrn.png" alt=""></div>
            <div class="card-header">Add Medical Record Number (MRN)</div>
            <div class="card-desc">Enter your MRN to find your details</div>
        </div>
    </div>
</div>